 @import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

:root {
    --haervig-blue: #211a52;
    --haervig-gray: #54616e;
    --haervig-orange-dark: #bb5b17;
    --haervig-orange-light: #df8e2e;
    --haervig-blue-dark: #007fa3;
    --haervig-blue-light: #31a9c1;
    --haervig-green-dark: #0e8563;
    --haervig-green-light: #5caf8d;
    --haervig-pink-dark: #cc445b;
    --haervig-pink-light: #e78293;
    --haervig-brown-dark: #a16547;
    --haervig-brown-light: #cc8b66;
    --haervig-white: #ffffff;
    --haervig-black: #000000;
    --haervig-font-family: "Montserrat", "Arial", sans-serif;

    --wikipedia-a-color: #3366cc;
    --wikipedia-code-bg-color: #f8f8f8;
    --wikipedia-code-border-color: #eaecf0;

    --github-font-family: font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

    --a-color: var(--wikipedia-a-color);
}

body {
    /* background: url("https://jakobhaervig.github.io/cdn/logo/logo.svg");
    background-size: 10vh;
    background-position: right 3ch bottom 3ch;
    background-repeat: no-repeat; */
    font-family: var(--haervig-font-family);
    font-weight: 400;
    font-size: 1em;
    margin: 2ch;
}
